* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100%;
  background-color: darkgreen;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
h1 {
  margin: auto;
}
#toggle {
  width: 70px;
  height: 40px;
  text-align: center;
}
.form-group {
  border: hidden;
  /* max-height: 60%; */
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form-group #add-todo {
  height: 50px;
  width: 70%;
  padding: 20px;
  border: 1px solid grey;
  font-size: 1.5rem;
}
#add-todo:focus {
  outline: lime 1px solid;
  border: none;
}
#inp-btn {
  height: 50px;
  width: 120px;
  color: white;
  background-color: grey;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
#inp-btn:hover {
  background-color: green;
  transition: 0.2s;
}
.todos {
  max-width: 80%;
  border: 1px solid grey;
  margin: auto;
  margin-top: 2rem;
  padding: 20px;
  margin-bottom: 2rem;
}
li {
  list-style-type: none;
  border-left: 3px solid lime;
  margin-bottom: 1rem;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.158);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li:hover {
  border-left: green 15px solid;
  transition: 0.5s ease-in-out;
}
.delete {
  padding: 15px 25px;
  color: white;
  background-color: grey;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.delete:hover {
  background-color: green;
  transition: 0.2s;
}
.darkMode {
  background-color: rgb(11, 19, 19);
  color: aliceblue;
}
